build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
/config.json

out/production/resources/divetables/Dive_table_1.json
out/production/resources/divetables/Dive_table_2.json
out/production/resources/divetables/max_bottom_times.json
out/production/resources/divetables/surface_table.json
out/production/resources/docs/HelpWindow.html
out/production/resources/docs/images/Architecture.png
out/production/resources/docs/images/arjo129.jpg
out/production/resources/docs/images/build_pending.png
out/production/resources/docs/images/checkstyle-idea-configuration.png
out/production/resources/docs/images/checkstyle-idea-scan-scope.png
out/production/resources/docs/images/chrome_save_as_pdf.png
out/production/resources/docs/images/cjunxiang.jpeg
out/production/resources/docs/images/DeletePersonSdForLogic.png
out/production/resources/docs/images/flick_repository_switch.png
out/production/resources/docs/images/generate_token.png
out/production/resources/docs/images/getting-started-ui-result-after.png
out/production/resources/docs/images/getting-started-ui-result-before.png
out/production/resources/docs/images/getting-started-ui-status-after.png
out/production/resources/docs/images/getting-started-ui-status-before.png
out/production/resources/docs/images/getting-started-ui-tag-after.png
out/production/resources/docs/images/getting-started-ui-tag-before.png
out/production/resources/docs/images/github_repo_settings.png
out/production/resources/docs/images/grant_access.png
out/production/resources/docs/images/LogicClassDiagram.png
out/production/resources/docs/images/m133225.jpg
out/production/resources/docs/images/ModelClassBetterOopDiagram.png
out/production/resources/docs/images/ModelClassDiagram.png
out/production/resources/docs/images/request_access.png
out/production/resources/docs/images/review_and_add.png
out/production/resources/docs/images/SDforDeletePerson.png
out/production/resources/docs/images/SDforDeletePersonEventHandling.png
out/production/resources/docs/images/SeEduLogo.png
out/production/resources/docs/images/shuanang.jpeg
out/production/resources/docs/images/signing_in.png
out/production/resources/docs/images/StorageClassDiagram.png
out/production/resources/docs/images/travis_add_token.png
out/production/resources/docs/images/travis_build.png
out/production/resources/docs/images/ttaus.png
out/production/resources/docs/images/Ui.png
out/production/resources/docs/images/UiClassDiagram.png
out/production/resources/docs/images/UndoRedoActivityDiagram.png
out/production/resources/docs/images/UndoRedoExecuteUndoStateListDiagram.png
out/production/resources/docs/images/UndoRedoNewCommand1StateListDiagram.png
out/production/resources/docs/images/UndoRedoNewCommand2StateListDiagram.png
out/production/resources/docs/images/UndoRedoNewCommand3StateListDiagram.png
out/production/resources/docs/images/UndoRedoNewCommand4StateListDiagram.png
out/production/resources/docs/images/UndoRedoSequenceDiagram.png
out/production/resources/docs/images/UndoRedoStartingStateListDiagram.png
out/production/resources/docs/stylesheets/asciidoctor.css
out/production/resources/docs/stylesheets/coderay-asciidoctor.css
out/production/resources/docs/stylesheets/gh-pages.css
out/production/resources/images/address_book_32.png
out/production/resources/images/calendar.png
out/production/resources/images/clock.png
out/production/resources/images/fail.png
out/production/resources/images/help_icon.png
out/production/resources/images/info_icon.png
out/production/resources/view/BrowserPanel.fxml
out/production/resources/view/CommandBox.fxml
out/production/resources/view/DarkTheme.css
out/production/resources/view/default.html
out/production/resources/view/DiveListCards.fxml
out/production/resources/view/DiveListPanel.fxml
out/production/resources/view/Extensions.css
out/production/resources/view/HelpWindow.fxml
out/production/resources/view/MainWindow.fxml
out/production/resources/view/ResultDisplay.fxml
out/production/resources/view/StatusBarFooter.fxml
